<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciador de Tarefas</title>
</head>
<body>
  <h1>Meu Gerenciador de Tarefas</h1>
    <hr />

    <h2>Adicionar Nova Tarefa</h2>
    <form id="add-task-form">
        <label for="title">Título:</label>
        <input type="text" id="title" placeholder="Digite o título..." required />

        <label for="description">Descrição:</label>
        <input type="text" id="description" required />

        <button type="submit">Adicionar Tarefa</button>
    </form>

    <hr />

    <h2>Lista de Tarefas</h2>
    <ul id="task-list">
        <p>Carregando tarefas...</p>
    </ul>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>